In [1]:
# create a new csv (coded_values.csv) replacing the values with their code value

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('breast-cancer.csv', encoding='utf-8')

In [3]:
df

,class,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiant
0,no-recurrence-events,30-39,premeno,30-34,0-2,no,3,left,left_low,no
1,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,right,right_up,no
2,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,left,left_low,no
3,no-recurrence-events,60-69,ge40,15-19,0-2,no,2,right,left_up,no
4,no-recurrence-events,40-49,premeno,0-4,0-2,no,2,right,right_low,no
...,...,...,...,...,...,...,...,...,...,...
281,recurrence-events,30-39,premeno,30-34,0-2,no,2,left,left_up,no
282,recurrence-events,30-39,premeno,20-24,0-2,no,3,left,left_up,yes
283,recurrence-events,60-69,ge40,20-24,0-2,no,1,right,left_up,no
284,recurrence-events,40-49,ge40,30-34,'3-5,no,3,left,left_low,no
285,recurrence-events,50-59,ge40,30-34,'3-5,no,3,left,left_low,no

In [6]:
map = pd.read_csv('mapping.csv', encoding='utf-8')

In [7]:
map

      attribute                 value  coding
0         class  no-recurrence-events      10
1         class     recurrence-events      11
2           age                '10-19   10000
3           age                 20-29   10001
4           age                 30-39   10010
5           age                 40-49   10011
6           age                 50-59   10100
7           age                 60-69   10101
8           age                 70-79   10110
9           age                 80-89   10111
10          age                 90-99   11000
11    menopause                  lt40     100
12    menopause                  ge40     101
13    menopause               premeno     110
14   tumor-size                   0-4   10000
15   tumor-size                  '5-9   10001
16   tumor-size                '10-14   10010
17   tumor-size                 15-19   10011
18   tumor-size                 20-24   10100
19   tumor-size                 25-29   10101
20   tumor-size                 30-34   10110
21   tumor-size                 35-39   10111
22   tumor-size                 40-44   11000
23   tumor-size                 45-49   11001
24   tumor-size                 50-54   11010
25   tumor-size                 55-59   11011
26    inv-nodes                   0-2   10000
27    inv-nodes                  '3-5   10001
28    inv-nodes                  '6-8   10010
29    inv-nodes                 '9-11   10011
30    inv-nodes                '12-14   10100
31    inv-nodes                 15-17   10101
32    inv-nodes                 18-20   10110
33    inv-nodes                 21-23   10111
34    inv-nodes                 24-26   11000
35    inv-nodes                 27-29   11001
36    inv-nodes                 30-32   11010
37    inv-nodes                 33-35   11011
38    inv-nodes                 36-39   11100
39    node-caps                   yes      10
40    node-caps                    no      11
41    deg-malig                     1     100
42    deg-malig                     2     101
43    deg-malig                     3     110
44       breast                  left      10
45       breast                 right      11
46  breast-quad               left_up    1000
47  breast-quad              left_low    1001
48  breast-quad              right_up    1010
49  breast-quad             right_low    1011
50  breast-quad               central    1100
51    irradiant                   yes      10
52    irradiant                    no      11

In [8]:
values = map.value.to_list()

In [9]:
values

['no-recurrence-events',
 'recurrence-events',
 "'10-19",
 '20-29',
 '30-39',
 '40-49',
 '50-59',
 '60-69',
 '70-79',
 '80-89',
 '90-99',
 'lt40',
 'ge40',
 'premeno',
 '0-4',
 "'5-9",
 "'10-14",
 '15-19',
 '20-24',
 '25-29',
 '30-34',
 '35-39',
 '40-44',
 '45-49',
 '50-54',
 '55-59',
 '0-2',
 "'3-5",
 "'6-8",
 "'9-11",
 "'12-14",
 '15-17',
 '18-20',
 '21-23',
 '24-26',
 '27-29',
 '30-32',
 '33-35',
 '36-39',
 'yes',
 'no',
 '1',
 '2',
 '3',
 'left',
 'right',
 'left_up',
 'left_low',
 'right_up',
 'right_low',
 'central',
 'yes',
 'no']

In [10]:
codes = map.coding.to_list()

In [11]:
codes

[10,
 11,
 10000,
 10001,
 10010,
 10011,
 10100,
 10101,
 10110,
 10111,
 11000,
 100,
 101,
 110,
 10000,
 10001,
 10010,
 10011,
 10100,
 10101,
 10110,
 10111,
 11000,
 11001,
 11010,
 11011,
 10000,
 10001,
 10010,
 10011,
 10100,
 10101,
 10110,
 10111,
 11000,
 11001,
 11010,
 11011,
 11100,
 10,
 11,
 100,
 101,
 110,
 10,
 11,
 1000,
 1001,
 1010,
 1011,
 1100,
 10,
 11]

In [12]:
df1 = df.replace(to_replace=values, value=codes)

In [13]:
df1

,class,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiant
0,10,10010,110,10110,10000,11,3,10,1001,11
1,10,10011,110,10100,10000,11,2,11,1010,11
2,10,10011,110,10100,10000,11,2,10,1001,11
3,10,10101,101,10011,10000,11,2,11,1000,11
4,10,10011,110,10000,10000,11,2,11,1011,11
...,...,...,...,...,...,...,...,...,...,...
281,11,10010,110,10110,10000,11,2,10,1000,11
282,11,10010,110,10100,10000,11,3,10,1000,10
283,11,10101,101,10100,10000,11,1,11,1000,11
284,11,10011,101,10110,10001,11,3,10,1001,11
285,11,10100,101,10110,10001,11,3,10,1001,11

In [42]:
df1 = df1.replace(to_replace=['?'], value=[''])

In [14]:
df1 = df1.replace(to_replace=[1, 2, 3, '?'], value=['100', '101', '110', ''])

In [15]:
df1

,class,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiant
0,10,10010,110,10110,10000,11,110,10,1001,11
1,10,10011,110,10100,10000,11,101,11,1010,11
2,10,10011,110,10100,10000,11,101,10,1001,11
3,10,10101,101,10011,10000,11,101,11,1000,11
4,10,10011,110,10000,10000,11,101,11,1011,11
...,...,...,...,...,...,...,...,...,...,...
281,11,10010,110,10110,10000,11,101,10,1000,11
282,11,10010,110,10100,10000,11,110,10,1000,10
283,11,10101,101,10100,10000,11,100,11,1000,11
284,11,10011,101,10110,10001,11,110,10,1001,11
285,11,10100,101,10110,10001,11,110,10,1001,11

In [44]:
df1.to_csv('encoded.csv', index=False)