In [ ]:
# neural network

In [23]:
import pandas as pd
import numpy as np

In [24]:
df = pd.read_csv('encoded.csv', encoding='utf-8')

In [25]:
df

,class,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiant
0,1,30.39,3,30.34,0.2,0.0,3,1,2,0
1,1,40.49,3,20.24,0.2,0.0,2,2,3,0
2,1,40.49,3,20.24,0.2,0.0,2,1,2,0
3,1,60.69,2,15.19,0.2,0.0,2,2,1,0
4,1,40.49,3,0.40,0.2,0.0,2,2,4,0
...,...,...,...,...,...,...,...,...,...,...
281,2,30.39,3,30.34,0.2,0.0,2,1,1,0
282,2,30.39,3,20.24,0.2,0.0,3,1,1,1
283,2,60.69,2,20.24,0.2,0.0,1,2,1,0
284,2,40.49,2,30.34,3.5,0.0,3,1,2,0
285,2,50.59,2,30.34,3.5,0.0,3,1,2,0

In [26]:
x = df.drop('irradiant', axis=1)

In [27]:
x

,class,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad
0,1,30.39,3,30.34,0.2,0.0,3,1,2
1,1,40.49,3,20.24,0.2,0.0,2,2,3
2,1,40.49,3,20.24,0.2,0.0,2,1,2
3,1,60.69,2,15.19,0.2,0.0,2,2,1
4,1,40.49,3,0.40,0.2,0.0,2,2,4
...,...,...,...,...,...,...,...,...,...
281,2,30.39,3,30.34,0.2,0.0,2,1,1
282,2,30.39,3,20.24,0.2,0.0,3,1,1
283,2,60.69,2,20.24,0.2,0.0,1,2,1
284,2,40.49,2,30.34,3.5,0.0,3,1,2
285,2,50.59,2,30.34,3.5,0.0,3,1,2

In [28]:
y = df.irradiant

In [29]:
y

0      0
1      0
2      0
3      0
4      0
      ..
281    0
282    1
283    0
284    0
285    0
Name: irradiant, Length: 286, dtype: int64

In [30]:
from sklearn.preprocessing import StandardScaler

In [31]:
scaler = StandardScaler()

In [32]:
x = scaler.fit_transform(x)

In [33]:
x

array([[-0.65029653, -1.64777909,  0.91447105, ...,  1.29056424,
        -0.93892436, -0.1405264 ],
       [-0.65029653, -0.65772695,  0.91447105, ..., -0.0664261 ,
         1.06504852,  0.69677673],
       [-0.65029653, -0.65772695,  0.91447105, ..., -0.0664261 ,
        -0.93892436, -0.1405264 ],
       ...,
       [ 1.53776002,  1.32237733, -0.91447105, ..., -1.42341644,
         1.06504852, -0.97782952],
       [ 1.53776002, -0.65772695, -0.91447105, ...,  1.29056424,
        -0.93892436, -0.1405264 ],
       [ 1.53776002,  0.33232519, -0.91447105, ...,  1.29056424,
        -0.93892436, -0.1405264 ]])

In [34]:
from sklearn.model_selection import train_test_split

In [35]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.1, random_state=42)

In [36]:
from keras.models import Sequential

In [37]:
from keras.layers import Dense

In [38]:
model = Sequential()
model.add(Dense(14, activation = 'relu'))
model.add(Dense(14, activation = 'relu'))
model.add(Dense(1, activation = 'sigmoid'))

In [39]:
model.compile(optimizer='Adam', loss='categorical_crossentropy', metrics='accuracy')

In [40]:
model.fit(x_train, y_train, epochs=10, batch_size=5, verbose=1, validation_split=0.1)

Epoch 1/10
47/47 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.7835 - val_loss: 0.0000e+00 - val_accuracy: 0.6923
Epoch 2/10
47/47 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.7835 - val_loss: 0.0000e+00 - val_accuracy: 0.6923
Epoch 3/10
47/47 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.7835 - val_loss: 0.0000e+00 - val_accuracy: 0.6923
Epoch 4/10
47/47 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.7835 - val_loss: 0.0000e+00 - val_accuracy: 0.6923
Epoch 5/10
47/47 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.7835 - val_loss: 0.0000e+00 - val_accuracy: 0.6923
Epoch 6/10
47/47 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.7835 - val_loss: 0.0000e+00 - val_accuracy: 0.6923
Epoch 7/10
47/47 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.7835 - val_loss: 0.0000e+00 - val_accuracy: 0.6923
Epoch 8/10
47/47 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.7835 - val_loss: 0.0000e+00 - val_accuracy: 0.6923
Epoch 9/10
47/47 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.7835 - val_loss: 0.0000e+00 - val_accuracy: 0.6923
Epoch 10/10
47/47 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.7835 - val_loss: 0.0000e+00 - val_accuracy: 0.6923

In [22]:
test_results = model.evaluate(x_test, y_test, verbose=1)
print(f'Test results - Loss: {test_results[0]} - Accuracy: {test_results[1]}%')

1/1 [==============================] - 0s 17ms/step - loss: nan - accuracy: 0.6552
Test results - Loss: nan - Accuracy: 0.6551724076271057%